@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

// FONTS
$main-font: 'Quicksand', sans-serif;
$main-font-regular: normal;

// // TEXTS
$default-text-color: #322d53;

$border-color: #EEE;

